<ion-view view-title="Device Information">
  <ion-content class="padding">
    <div id="cameraImageContainer" style="background-color: white;">
    	<div style="padding:30px 30px 10px 30px">
    		<span>Device Model   :</span>{{deviceInfo.model}}
    	</div>
    	<div style="padding: 10px 30px;">
    		<span>Platform       :</span>{{deviceInfo.platform}}
    	</div>
    	<div style="padding: 10px 30px;">
    		<span>Device UUID    :</span>{{deviceInfo.uuid}}
    	</div>
    	<div style="padding: 10px 30px;">
    		<span>OS version     :</span>{{deviceInfo.version}}
    	</div>
    	<div style="padding: 10px 30px;">
    		<span>Cordova version:</span>{{deviceInfo.cordova}}
    	</div>
    	<div style="padding: 10px 30px;">
    		<span>Device manufacturer:</span>{{deviceInfo.manufacturer}}
    	</div>
    </div>
  </ion-content>
</ion-view>
